mixin header()
	header.header
		.container
			.header__wrap
				.header__logo
					a(href="index.html"): img(src="../img/logo.png")
				nav.header__nav
					ul.list.header__list
						li.list__item.header__list-item: a(href="vue.html").header__list-link vue
						li.list__item.header__list-item: a(href="#").header__list-link Орлы
						li.list__item.header__list-item: a(href="#").header__list-link Орлы
						li.list__item.header__list-item: a(href="#").header__list-link Орлы
						li.list__item.header__list-item: a(href="#").header__list-link Орлы