extends ./layout/layout

block variables
	- var page_title = 'VUE';

block content
	.container
		div#vue( :title="message2")
			template(lang="pug")

				ul
					li(v-for="(item, index) in list")
						| index {{ index }}: {{ item }}

				ul
					li(v-for="user in users") {{user.id}}: {{user.name}}