extends ./layout/layout

block variables
	- var page_title = 'VUE';

block content
	.container
		div#vue
			template(lang="pug")
				h3 {{ textSearch }} (длина: {{ textSearch.length }})
				input(type="text" size="50" v-model="textSearch")
				button( @click="getCities") Грузи

				ul
					li( v-for= "hashtag in hashtags") {{ hashtag }}

				ul
					li( v-for= "city  in cities") {{ city.region }}: {{city.city}}