.flexbox {
  &__wrap {
    max-width: 700px;
    margin: auto;

  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background: #1da1f2;
    height: 150px;
  }

  &__item {


  }




}