$base-font-size: 16px;

//Разрешения экранов
$phone-width: 320px;
$tablet-width: 768px;
$small-desktop-width: 992px;
$desktop-width: 1200px;
$wide-desktop-width: 1400px;

//Цвета
$base-color: #b8c9f1;
$second-color: #000;
$hover-color: #E92061;


//Шрифты
$roboto: 'Roboto', sans-serif;;