//Подключаем все необходимые библиотеки из пакетов
// когда нужно вносить корректировки в стандартные стили пакетов - выносим исходники в libs

@import "normalize.css/normalize";
@import "libs/jquery.fancybox";
@import "magnific-popup/dist/magnific-popup";