mixin popup-new-password()
	form(action="/ajax/auth-error.json" method="GET" name="form" ).popup.js-form-validation.js-passord-new
		.popup__title Введите новый пароль
		.popup__text Тут правила пароля, не больше восьми символов, пять гласных.
		.input-container.graduation-training__input-container.popup__input-container
			label(for="user_password_new") Новый пароль
			input(id="user_password_new" type="password" name="email" required autocomplete="on")
			.input-container-border
		.input-container.graduation-training__input-container.popup__input-container
			label(for="user_password_new-repeat") Повторите новый пароль
			input(id="user_password_new-repeat"  type="password" name="password" required)
			.js-global-error
		.btn.popup__btn далее

