mixin popup-password-messege()
    form.popup.js-popup-message
        .popup__title.js-popup-title сообщение на сброс пароля отправлено!
        .popup__text.js-popup-text Сообщение было отправлено на вашу почту. Пожалуйста, следуйте инструкциям в письме, чтобы сбросить пароль.
        .btn.popup__btn ок



